.h1-title{
   color:var(--black);
  font-weight: 700;
  line-height:100%;
  font-size: var(--lg);
  font-family: Roboto;
}
.h1{
 
 
    display: flex;
   justify-content: center;
   opacity: 0.8;
}

.h2{
   font-size: var(--lg);
 
margin-bottom:  20px;
   
}






