.signup {
  max-width: 500px;
 height: 205px;
  background: var(--white);
  padding: 20px;
  border-radius: 16px;
}
.btn-login{
  display: flex;
  padding: 0;
  justify-content: flex-end;
  margin-top: 20px;
}
button{
 width: 120px;
height: 32px;

border-radius: 8px;
border: none;
background: var(--azul);
color: var(--white);
cursor: pointer;
}
button.disabled,
button.disabled:hover{
  background-color:var(--disabled);
  cursor: not-allowed;
}

button:hover,
button:active {
  background:rgb(13, 110, 253);
  color: var(--white);
  
}
