.signup
 {
  max-width: 500px;
 height: 205px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
.btn-login{
  display: flex;
  padding: 0;
  justify-content: flex-end;
}
button{
 width: 111px;
height: 32px;
margin-top: 10px;
border-radius: 8px;
border: none;
background: var(--azul);
color: var(--branco);
cursor: pointer;
}
button.disabled,
button.disabled:hover{
  background-color: #aaa;
  cursor: not-allowed;
}

button:hover,
button:active {
  background:rgb(13, 110, 253);
  color: var(--branco);
  
}
