@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary: #DDDDDD;
    --branco: #FFFFFF;
    --azul: #7695EC;
   --border: #ccc;
--cor-btn:#4CAF50;
   --black: #000000;


--m:16px;
--lg:22px;





}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    /* overflow-x: hidden; */
  }


  body {
    background-color: var(--primary);
    color:var(--black);
  }
.section{
  display: flex;
  justify-content: center;
align-items: center;
min-height: 100vh;
}

 
  
