@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
 
  --primary: #DDDDDD;
  --white: #fff;
    --azul: #7695EC;
    --text-gray: #777777;
   --border: #ccc;
--cor-btn:#4CAF50;
   --black: #000000;
--disabled:#a8c2f2;

--m:16px;
--ms:18px;
--lg:22px;





}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    /* overflow-x: hidden; */
  }


  body {
    background-color: var(--primary);
    color:var(--black);
  }
.section{
  display: flex;
  justify-content: center;
align-items: center;
min-height: 100vh;
}
h3{
  margin-bottom: 0;
}
 
  
