
.post{
    background: var(--white);
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.post-form{
    border: 1px solid var(--border);
  border-radius: 16px;
  padding: 24px;
  margin: 24px;

}
.text{
    display: flex ;
        flex-direction: column;
        margin: 20px 0 5px;
}
select{
 
    border-radius: 16px;
    padding: 8px;
    border: 1px solid var(--border)
}
.filters {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin:  0 24px;
  
  }
  
/* Responsividade */
@media (max-width: 768px) {
    .post {
        padding: 0 12px;
      }
    
  }
  

