
.post-item {
    background: var(--white);
    /* padding: 1rem; */
    border: 1px solid var(--border);

    border-radius: 16px;
   height: 316px;
    margin:24px ;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    padding:  0 24px;
    height: 70px;
    background: var(--azul);
    border-radius: 16px 16px 0 0 ;
    color: var(--white);

  }
  
 .post-title{
  display: flex;
  justify-content: space-between;
  margin: 24px 24px 10px 24px;
}
  
  .post-meta {
    font-size: var(--ms);
    color: var(--text-gray);
     font-weight: 700;

   
  }
  .span{
    font-weight: 400;
    color: var(--text-gray);
  }
  .post-content {
  margin:  0 24px;
   width: 704px;
   font-size: var(--ms);
  }
  