.post{
    background: var(--branco);
    width: 800px;
height: 1080px;
}
.post-form{
    border: 1px solid var(--border);
    border-radius: 16px;
    height: 334px;
  margin:24px 24px ;
  opacity: 0.8;
padding: 24px;
max-width: 752px;
}
.text{
    display: flex ;
        flex-direction: column;
        margin: 20px 0 5px;
}
